<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Additional_Details</name>
        <label>Assign Additional Details</label>
        <locationX>547</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>CartRecord.b2ble_cpq_cnctr__Quote_Additional_Details__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AddtionalQuoteDetails.additionalComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Additional_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the B2B user entered any additional details to be captured</description>
        <name>Check_for_Additional_Details</name>
        <label>Check for Additional Details</label>
        <locationX>604</locationX>
        <locationY>519</locationY>
        <defaultConnector>
            <targetReference>Set_State</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Details_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddtionalQuoteDetails.additionalComments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Additional_Details</targetReference>
            </connector>
            <label>Additional Details Entered</label>
        </rules>
    </decisions>
    <interviewLabel>Quote Checkout Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>(Spring 2021) Subflow - Quote Checkout Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordLookups>
        <name>GetCart</name>
        <label>GetCart</label>
        <locationX>149</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cart_to_Quote_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <object>WebCart</object>
        <outputReference>CartRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>b2ble_cpq_cnctr__Quote_Additional_Details__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Save_Additional_Details</name>
        <label>Save Additional Details</label>
        <locationX>891</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>Set_State</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Save_Additional_Details_Error</targetReference>
        </faultConnector>
        <inputReference>CartRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Cart_to_Quote_Summary</name>
        <label>Cart to Quote Summary</label>
        <locationX>323</locationX>
        <locationY>263</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Additional_Details</targetReference>
        </connector>
        <fields>
            <name>shipping1</name>
            <extensionName>forceCommunity:commerceDelivery</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>orderSummary</name>
            <extensionName>forceCommunity:commerceCheckoutSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AddtionalQuoteDetails</name>
            <extensionName>b2ble_cpq_cnctr:checkoutFlowAdditionalComments</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>additionalComments</name>
                <value>
                    <elementReference>AddtionalQuoteDetails.additionalComments</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>24</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>GetCart</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Save_Additional_Details_Error</name>
        <label>Save Additional Details Error</label>
        <locationX>1096</locationX>
        <locationY>515</locationY>
        <flowName>Spring_2021_Subflow_Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>currentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>nextState</name>
            <value>
                <elementReference>nextState</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>This subflow sets the next state field of the current checkout session object.</description>
        <name>Set_State</name>
        <label>Set State</label>
        <locationX>741</locationX>
        <locationY>258</locationY>
        <flowName>Spring_2021_Subflow_Update_Checkout_State</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>expCurrentState</name>
            <value>
                <elementReference>currentState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newState</name>
            <value>
                <elementReference>nextState</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CartRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WebCart</objectType>
    </variables>
    <variables>
        <name>currentState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
